html,body{
    margin:0;
    height:100%;
    overflow:hidden;
}
div {
    max-width: 120%;
    max-height: 120%;
    bottom: 0;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.smaller {
    height: 120%;
    length: 120%;
    transition: width 1s, height 1s;

}
.bigger {
    height: 400%;
    length: 400%;
    transition: width 1s, height 1s;



}
