html,body{
    margin:0;
    height:100%;
    overflow:hidden;
}
div {
    max-width: 120%;
    max-height: 120%;
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    position: absolute;
    overflow: hidden;
}

.smaller {
    height: 150%;
    width: 150%;
    transition: width 10s, height 10s, margin-left 10s, margin-top 10s;
    margin-left:-20%;

    animation-fill-mode: forwards;
    position:absolute;




}
.bigger {
    height: 400%;
    width: 400%;
    transition: width 10s, height 10s,margin-left 10s, margin-top 10s;
    margin-top:-50%;
    margin-left:-140%;
    animation-fill-mode: forwards;
    position:absolute;








}
